body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #363636 !important;
}

.navbar-toggler {
  border-color: transparent !important;
}

.nav-link {
  color: #ffb437 !important;
}

.text-color-orange {
  color: #ffb437;
}

.table-responsive {
  height: 85vh;
  overflow-y: scroll;
}

footer {
  color: #fff;
  background-color: #363636;
}
th {
  position: sticky;
  top: 0;
  background-color: #fff;
  }